[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clusterIV"]
	path = clusterIV
	url = https://github.com/atal-kat/clustered-estimation-and-inference
